.elements{
    display: grid;
    grid-template-columns: auto auto;
     /* gap:2rem; */
    width: 70%;
    /* column-gap: 3rem; */
    margin: auto;
    gap: 2rem;
    justify-content: center;
    /* width: 100%; */
    padding:2rem ;
     
    

}



.element{
    background-color: #dadbf1 ;
     width: 400px;
     border-radius: 10px;
     cursor: pointer;
     transition:  all 0.3s ease-in-out;

  
}

.element:hover{
    transform: scale(1.07);
}